*{
    margin: 0px;
    padding: 0px;
    font-family: "Fjalla One", sans-serif;
}
.nav{
    margin: 10px;
    padding: 10px;
}
.bottom
{
    padding-top: 200px;
}
 .leftpan
 {
    
    border-right: 2px solid rgb(241, 237, 237);
 }
 .imgnav img{
    padding: 5px;
    border-radius: 80%;
    border: 4px solid rgba(253, 26, 185, 0.959);
    width: 100px;
 }
 .imgnav span{
    text-align: center;
    padding-left: 30px;
    font-size: 12px;
 }
 .imgnavmain
 {
    display: flex;
    justify-content: space-evenly; 
   overflow-x: scroll; 
    overflow-y:hidden; 
    height:150px; 
    width: 600px
 }
 .content 
 {
    margin: 10px;
    padding-top: 20px;
     border-bottom: 2px solid rgba(211, 208, 210, 0.959);
    }
 .content span
 {
     font-size: 12px;
   
 }
 .content input
 {
   font-size: small;
   border: none;
   color: darkgrey;
   width: 200px;
 }
  .bigimg
 {
    width: 500px;
    height: 600px;

 }
 .smallimg
 {
     border-radius: 80%;
     width: 20px;
     height: 20px;
     text-align: left;
 }
 .rightpan{
   padding-top: 200px;
   position: sticky;
   
 }
 .rightpan img{
  border-radius: 80%;
  width: 30px;
 }
   .navigate 
 {
   padding-top: 100px;

 }
 .navigate a
 {
   font-size: 12px;color: darkgrey;
text-decoration: none;
 }
  .navigate span
 {
   font-size: 12px;color: darkgrey;

 }
 